<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Pan & Tilt Control</title>

  <!-- Inject Flask variables -->
  <script>
    window.read_servos = {{ read_servos | tojson }};
    window.read_sensors = {{ read_sensors | tojson }};
    window.inverted_pan = {{ inverted_pan | tojson }};
    window.inverted_tilt = {{ inverted_tilt | tojson }};
    window.resolutions = {{ resolutions | tojson }};
  </script>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <h1>Pan & Tilt Control</h1>

  <div class="main-container">
    {% include 'video_feed.html' %}
    {% include 'status_panel.html' %}
  </div>
  <div class="main-container">
    {% include 'capture_section.html' %}
  </div>

  <!-- JS -->
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
