<div class="status-panel">
    <div class="status">
      <h3>Sensor Readings</h3>
      <p>Atmosphere</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;Temperature: <span id="temperature_dht"></span>°C</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;Humidity: <span id="humidity"></span>%</p>
      <p>Substratum</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;Temperature: <span id="temperature_ds18b20"></span>°C</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;Soil Moisture: <span id="soil_moisture"></span></p>
    </div>
  
    <div class="status">
      <h3>Servo Positions</h3>
      <p>Pan: <span id="servo_pan_value">-</span>°</p>
      <p>Tilt: <span id="servo_tilt_value">-</span>°</p>
  
      <div class="servo-control-buttons">
        <div><button id="btn-up">Up</button></div>
        <div>
          <button id="btn-left">Left</button>
          <button id="btn-right">Right</button>
        </div>
        <div><button id="btn-down">Down</button></div>
      </div>
    </div>
  </div>
  