# Core camera and image processing
picamera2
opencv-python-headless

# Flask for web server or REST API
flask

# Optional utilities
Pillow        # Image handling



# Possible system dependencies
##sudo apt-get install libcap-dev
#sudo apt install -y python3-opencv
